footer {
    background-color: var(--primary-theme-color);
    color: var(--secondary-text-color);
    margin: 0;
    padding: 1px;
}

.footer__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__list {
    list-style: none;
    text-decoration: none;
}

.footer__title {
    font-size: 1.25rem;
    text-align: center;
}

.footer__container--title {
    padding: 3rem;
}

.footer__logo {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 1rem;
}