.grid_container {
  display: grid;
  background-color: rgba(209, 205, 205, 0.6901960784);
  border-radius: 10px;
  border: solid 0px #000000;
  width: 200px;
  height: 150px;
  row-gap: 1px;
  column-gap: 1px;
  padding: 1px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40% 60%;
  align-items: stretch;
  justify-items: stretch;
  /* place-items: ; */
}
.grid_container--absolute_1 {
  position: absolute;
  left: 80px;
  bottom: 0;
  top: 230px;
}
.grid_container--absolute_2 {
  position: absolute;
  left: 220px;
  bottom: 0;
  top: 230px;
}
.grid_container--absolute_3 {
  position: absolute;
  left: 220px;
  bottom: 0;
  top: 20px;
}
.grid_container--absolute_4 {
  position: absolute;
  left: 220px;
  bottom: 0;
  top: 20px;
}

.grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: solid 0.5px rgba(209, 205, 205, 0.6901960784);
  border-radius: 2px;
  text-align: center;
  background-color: var(--primary-text-color);
  transition: transform 3s ease-in-out;
  color: #000000;
}
.grid_item_text {
  font-family: var(--primary-font-family);
  padding: 10px;
  height: 100%;
}
.grid_item:hover {
  /* filter: opacity(1.1); */
  transform: scale(1.03);
}
.grid_item_msg_corto {
  font-size: 13px;
  grid-column-start: 1;
  grid-column-end: 5;
  font-family: var(--primary-font-family);
}
.grid_item_msg_veritical {
  font-size: 14px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-family: var(--primary-font-family);
}
.grid_item_msg_veritical:hover {
  background-color: #000000;
  color: var(--primary-text-color);
}
.grid_item_msg_lg {
  font-size: 10px;
  text-justify: distribute-all-lines;
  font-family: var(--primary-font-family);
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid_item_galeria_sub {
  display: inline-block;
  background-color: var(--primary-text-color);
  width: 80px;
  height: 20px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border: 1px black;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  border: 0;
  color: #000000;
  transition: transform 3s ease-in-out;
}
.grid_item-elements {
  display: grid;
}
.grid_item_galeria {
  position: relative;
  background-color: var(--secondary-shadow-color);
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.grid_item_galeria:hover {
  /* filter: opacity(0.9); */
  transform: scale(1.01);
}
.grid_item-elements--center {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.grid_item-elements--gallery {
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .grid_item-elements--gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_item-elements--gallery--ac {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid_item-elements--gallery--sub {
  grid-template-columns: 20px, 20px;
  grid-template-rows: 10px, 20px, 10px;
}

.card {
  box-shadow: 0 0 0.0125rem 0.0625rem var(--primary-shadow-color), 0 0 0.25rem 0.125rem var(--primary-shadow-color);
  border-radius: var(--primary-border-radius);
  max-width: 320px;
  overflow: hidden;
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 0 0.125rem 0.0625rem var(--primary-highlight-color), 0 0 0.25rem 0.125rem var(--primary-highlight-color);
}
.card__header, .card__footer {
  background-color: var(--reverse-primary-shadow-color);
  padding: 0.5rem 1rem;
}
.card__img {
  display: flex;
  background-color: var(--secondary-shadow-color);
  width: 100%;
  height: 200;
  object-fit: cover;
}
.card__body {
  background-color: var(--reverse-secondary-shadow-color);
  padding: 1rem;
}
.card__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.card__subtitle {
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}
.card__text {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .card {
    max-width: 512px;
  }
}

.d-none {
  display: none;
}

.p-relative {
  position: relative;
}

.f-direction-column {
  flex-direction: column;
}

.gap-sm {
  gap: calc(var(--padding-section) * 0.5);
}

.gap-md {
  gap: var(--padding-section);
}

.gap-lg {
  gap: calc(var(--padding-section) * 1.5);
}

.section {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  font-size: 1.5rem;
}
.section__title {
  font-size: 1.5rem;
  text-shadow: 0 0 0.125rem var(--primary-highlight-color), 0 0 0.25rem var(--primary-highlight-color);
  text-align: center;
  margin: 0;
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
}

.f-elements {
  display: flex;
}
.f-elements--header {
  align-items: center;
  justify-content: space-between;
}
.f-elements--center {
  align-items: center;
  justify-content: center;
}
.f-elements--responsive {
  flex-direction: column;
}

.g-elements {
  display: grid;
}
.g-elements--center {
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.g-elements--responsive, .g-elements--gallery {
  grid-template-columns: 100%;
}

@media (min-width: 768px) {
  .f-elements--responsive {
    flex-direction: row;
  }
  .g-elements--responsive {
    grid-template-columns: 1fr 1fr;
  }
  .g-elements--gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--header {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  background-color: var(--secondary-theme-color);
  transform: translateX(var(--translate-list-header));
  transition: transform 0.25s;
}
.list__link {
  position: relative;
  color: var(--primary-text-color);
  font-weight: 700;
  text-decoration: none;
  transition: color 0.25s;
}
.list__link:hover {
  color: var(--primary-highlight-color);
}
.list__link:hover::before {
  width: 100%;
}
.list__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.125rem;
  width: 0;
  height: 0.0625rem;
  background-color: var(--secondary-highlight-color);
  transition: width 0.25s;
}

.list2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (min-width: 768px) {
  .list--header {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}
.hero {
  background-image: url("https://i.blogs.es/5d36e6/black-mesa/1366_2000.jpeg");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  min-height: 100vh;
}
.hero__img {
  position: relative;
  max-width: 256px;
}
.hero__primary-img {
  display: flex;
  background-color: var(--secondary-shadow-color);
  border-radius: 50%;
  width: 256px;
  height: 256px;
}
.hero__decorators {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  animation: t-rotate 10s linear infinite;
}
.hero__decorator {
  position: absolute;
  display: flex;
}
.hero__decorator:nth-child(1) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}
.hero__decorator:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.hero__decorator:nth-child(3) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.hero__decorator:nth-child(4) {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

@media (min-width: 768px) {
  .hero__img {
    max-width: 320px;
  }
  .hero__primary-img {
    width: 320px;
    height: 320px;
  }
}

/*# sourceMappingURL=fe.css.map */
