footer {
    background-color: var(--primary-theme-color);
    margin: 0;
}

.box__ft {
    padding: 1rem;
    background-color: #FFEDC5;
}

.item__ft {
    display: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.link__ft {
    list-style: none;
}